<header class="undergroundline__header">

    <form action="">
        <div class="searcharea">
            <input type="text" 
            class="searcharea__input" 
            name="search"
            #searchTerm 
            [ngModel]='model' 
            (ngModelChange)='search($event)' 
            [placeholder]="'e.g. ' + searchExample" 
            min="2" 
            max="30" 
            autofocus="autofocus"/>
        </div>
    </form>

    {{results | json}}

    <br><br><br>

    {{autoCompleteVals | json}}

</header>

<!-- <footer>
    
</footer> -->