<header class="undergroundline__header">

    <form action="">
        <div class="searcharea__wrapper">
        
            <form>
                <div class="searcharea__input__wrapper">
                    <input type="text"
                    autocomplete="off"
                    class="searcharea__input"
                    name="search"
                    #searchTerm
                    [(ngModel)]='sharedSearchString.search'
                    [placeholder]="'e.g. ' + searchExample"
                    (keyup)="filterAutocomplete(sharedSearchString.search, $event)"
                    min="2"
                    max="30"
                    autofocus="autofocus"/>
                    <span class="searcharea__input__clear" *ngIf="sharedSearchString.search.length > 0" (click)="clearInput(sharedSearchString.search)"></span>
                </div>
            </form>

            <div class="suggestion__wrapper" *ngIf="hasInvalidData">
                <div class="suggestion__value">
                    <button class="suggestion__select suggestion__select--disabled">
                        <p class="suggestion__name">Station has no data. Try a different one.</p>
                    </button>
                </div>
            </div>

            <div class="suggestion__wrapper" *ngIf="autocompleteFilteredList && showAutocompleteUI">
                <div class="suggestion__value" *ngFor="let suggestion of autocompleteFilteredList">
                    <button class="suggestion__select" (click)="selectStation(sharedSearchString.search, suggestion)">
                        <p class="suggestion__name">{{suggestion?.stationName}}</p>
                        <p class="suggestion__helper suggestion__helper--{{suggestion?.parentLine}}">{{suggestion?.parentLine}}</p>
                    </button>
                </div>
            </div>

        </div>
    </form>

</header>