<header class="undergroundline__header">

    <form action="">
        <div class="searcharea__wrapper">
        
            <div class="center searcharea__helper">
                <h4 *ngIf="searchTerm.value.length < 1" class="ui-helper searcharea__helper__text">Search for a station.</h4>
            </div>

            <div class="searcharea__input__wrapper">
                <input type="text"
                autocomplete="off"
                class="searcharea__input"
                name="search"
                #searchTerm
                [ngModel]='sharedSearchString'
                (ngModelChange)='search($event)'
                [placeholder]="'e.g. ' + searchExample"
                (keyup)="filterAutocomplete(searchTerm, $event)"
                min="2"
                max="30"
                autofocus="autofocus"/>
                <span class="searcharea__input__clear" *ngIf="searchTerm.value.length > 0" (click)="clearInput(searchTerm)"></span>
            </div>

            <div class="suggestion__wrapper" *ngIf="hasInvalidData">
                <div class="suggestion__value">
                    <button class="suggestion__select suggestion__select--disabled">
                        <p class="suggestion__name">Station has no data. Try a different one.</p>
                    </button>
                </div>
            </div>

            <div class="suggestion__wrapper" *ngIf="autocompleteFilteredList && showAutocompleteUI">
                <div class="suggestion__value" *ngFor="let suggestion of autocompleteFilteredList">
                    <button class="suggestion__select" (click)="selectStation(suggestion)">
                        <p class="suggestion__name">{{suggestion?.stationName}}</p>
                        <p class="suggestion__helper suggestion__helper--{{suggestion?.parentLine}}">{{suggestion?.parentLine}}</p>
                    </button>
                </div>
            </div>

        </div>
    </form>

</header>

<!-- <footer>
    
</footer> -->