.alert-msg-bar {
	background-color: #999999;
	bottom: 0;
	color: $white;
	font-family: "Avenir 65 Medium", sans-serif;
	padding: 10px 20px;
	position: fixed;
	text-align: left;
	width: 100%;
	z-index: 9;
	+ .alert-msg-bar.queryvars {
		bottom: 51px;
	}
	&.adblocker {
		background-color: #00bcd4;
	}
	&.queryvars-developer {
		background-color: #3cba54;
	}
	> p {
		color: $white;
		margin: 0;
	}
}