[filters] {
	display:block;
	width:100%;
	.dataselection {
		display: flex;
		flex-flow: row nowrap;
		// @media screen and (min-width: 60rem) {
		// 	flex-flow: row nowrap;
		// }
		&__filter {

		}
	}
}