.popup {
	position: fixed;
	background-color: #fff;
	width: 90%;
	max-height: 90vh;
	display: block;
	border: 1px solid grey;
    border-radius: 3px;
    padding: 1rem;
    font-family: sans-serif;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: scroll;
    &__close {
		position: absolute;
	    right: 5%;
	    top: 10%;
	    width: 2rem;
	    height: 2rem;
	    display: inline-block;
	    background: url("/img/clear.svg");
	    background-repeat: no-repeat;
	    background-size: auto;
	    border: none;
	    outline: none;
	    &:hover {
			cursor: pointer;
		}
	}
}