@font-face {
  font-family: 'JohnstonITCLight';
  src: url('/assets/fonts/JohnstonITCStd-Light.otf') format('opentype');
}

@font-face {
  font-family: 'JohnstonITCMedium';
  src: url('/assets/fonts/JohnstonITCStd-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'JohnstonITCBold';
  src: url('/assets/fonts/JohnstonITCStd-Bold.otf') format('opentype');
}