$background-grey: #E6E6E6;
$background-lighter-grey: #EAEAEA;
$black: #000000;
$white: #FFFFFF;

$tfl-blue: #113B92;

$lines: (
	bakerloo: #C37428,
	central: #ED3022,
	circle: #F9D733,
	district: #00853F,
	hammersmithcity: #F5A3B7,
	jubilee: #939BA1,
	metropolitan: #96005D,
	northern: #221E1F,
	piccadilly: #1A3E93,
	victoria: #009CDB,
	waterloocity: #86CEBC,
	overground: #FF6600,
	emirates: #E94E66,
	dlr: #00AFAD,
	tram: #8AD243,
	tflrail: $tfl-blue
);

$font-stack-light: "P22-Light", sans-serif;
$font-stack-book: "P22-Book", sans-serif;
$font-stack-medium: "P22-Medium", sans-serif;
$font-stack-demi: "P22-Demi", sans-serif;