$background-grey: #e6e6e6;
$background-lighter-grey: #eaeaea;
$black: #000000;
$white: #FFFFFF;

$tfl-blue: #113b92;

$lines: (
	bakerloo: #B4671D,
	central: #ED3022,
	circle: #FFDA2D,
	district: #00853F,
	hammersmithcity: #F5A3B7,
	jubilee: #939BA1,
	metropolitan: #96005D,
	northern: #221E1F,
	piccadilly: #1A3E93,
	victoria: #009CDB,
	waterloocity: #86CEBC,
	dlr: #64C7C8,
	overground: #F79D57,
	emirates: #E94E66
);