<article class="undergroundline__line undergroundline__line--{{sanitizeLineId(lineData)}}" [ngClass]="{'undergroundline__line--loaded': lineData?.id}">
    <div class="undergroundline__block">
        <h1 class="undergroundline__line__name">{{lineData?.name}}</h1>
        <div class="undergroundline__line__status">
            <!-- <p class="undergroundline__line__status__badge undergroundline__line__status--bold">Status:</p> -->
            <p class="undergroundline__line__status__text" *ngFor="let status of lineData.lineStatuses">    
                {{status.statusSeverityDescription}}
            </p>
        </div>
        <div class="undergroundline__line__toggle">
            <button toggleLineDetail (click)="expandLineInfo(lineData)" type="button" alt="toggle switch" class="button button__icon" data-format="svg" role="button">
                <p class="button__icon__text">More Detail</p>
                <img src="/assets/img/toggle.svg" *ngIf="!detailedViewLoading" class="button undergroundline__line__toggleicon icon" [ngClass]="{'undergroundline__line__toggleicon--expanded': detailedViewToggle}" alt="toggle switch"/>
                <img src="/assets/img/loading.svg" alt="loading" class="undergroundline__line__loadingicon" [ngClass]="{'undergroundline__line__loadingicon--loading': detailedViewLoading}"/>
            </button>
        </div>
    </div>
    <div class="undergroundline__block undergroundline__block__more-info">
        <p class="undergroundline__block__content">{{detailedLineInfo?.description}}</p>
    </div>
</article>