.button {
	border: 0;
	background-color: transparent;
	color: $black;
	flex-flow: row nowrap;
	&:hover {
		cursor: pointer;
	}
	&__tab {

	}
	&__filter {
		background-color: darken($background-grey, 5%);
		flex: 1;
		font-family: $font-stack-demi;
		font-size: 1rem;
		padding: 2rem 2rem;
		text-transform: uppercase;
		@media screen and (min-width: 60rem) {
			font-size: 1.8rem;
			padding: 3rem;
		}
		&:first-child {
			border-right: 0.1rem solid darken($background-grey, 9%);
		}
		&--selected {
			background-color: $background-grey;
			text-decoration: underline;
		}
	}
	&__icon {
		align-items: center;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		&__text {
			color: $white;
			display: none;
			font-family: $font-stack-demi;
			font-size: 0.95rem;
			margin: 0 0.5rem 0 0;
			@media screen and (min-width: 60rem) {
				display: inline;
			}
		}
	}
}