.logo {
	&__header {
		display: inline-block;
		margin-right: 0.5rem;
	}
	&__medium {
		height: auto;
		width: 2.8rem;
	}
}

.navigation {
	align-items: center;
	background-color: $tfl-blue;
	display: flex;
	justify-content: flex-start;
	min-height: 5rem;
	padding: 2rem 2rem;
	&__bar {
		align-items: center;
		justify-content: flex-start;
		width: 100%;
    	display: flex;
    	flex-flow: column nowrap;
		@media screen and (min-width: 30rem) {
			flex-flow: row nowrap;
			justify-content: space-between;
		}
		&__text {
			display: block;
			margin-bottom: 1rem;
			overflow: hidden;
			position: relative;
			@media screen and (min-width: 30rem) {
				margin-bottom: 0;
			}
			&:before {
				animation: blockRevealRight 1s ease-in-out 0.3s 1 normal both running;
				background-color: $white;
				content: "";
				display: block;
				height: 100%;
				left: 0;
				overflow: hidden;
				position: absolute;
				top: 0;
				width: 100%;
			}
			&:after {
				animation: blockRevealLeft 1s ease-in-out 0.3s 1 normal both running;
				background-color: $white;
				content: "";
				display: block;
				height: 100%;
				left: 0;
				overflow: hidden;
				position: absolute;
				top: 0;
				width: 0;
				width: 100%;
			}
		}
		&__container {
			list-style: none;
		}
    	&__items {
			flex: 1;
			text-align: left;
			width: 100%;
			@media screen and (min-width: 30rem) {
				text-align: right;
			}
    	}
    	&__item {
     		color: $white;
     		display: inline-block;
    		font-size: 1.25rem;
      		margin: 0 1rem;
    		overflow: hidden;
      		&:first-child {
      			margin-left: 0;
      		}
      		&:last-child {
      			margin-right: 0;
      		}
      		&__link {
      			color: $white;
      			margin: 0.25rem;
      			text-decoration: none;
      			&:visited {
      				color: $white;
      			}
      		}
    	}
    	&__logo {
    		align-items: center;
    		display: flex;
    		flex: 1;
    		width: auto;
			.navigation__bar__item {
				font-size: 1.2rem;
			}
    	}
  	}
}