[search] {
	display: block;
	width: 100%;
	.searcharea {
		&__wrapper {
			margin: 0 auto;
		    @media screen and (min-width: 30rem) {
				width: 85%;
			}
			@media screen and (min-width: 60rem) {
				width: 45%;
			}
		}
		&__input {
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 2rem;
			font-family: 'JohnstonITCMedium', sans-serif;
			text-transform: capitalize;
			padding: 0.5rem 4rem 0.5rem 1rem;
			@media screen and (min-width: 60rem) {
				padding: 1rem 5rem 1rem 1rem;
			}
			&__clear {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 5%;
				width: 25px;
				height: 25px;
				background: url("/assets/img/clear.svg");
				z-index: 3;
				&:hover {
					cursor: pointer;
				}
			}
			&__wrapper {
				background-color: $white;
			    width: 100%;
			    height: 5rem;
			    animation: fadeInSoftDown 0.5s ease-in-out forwards;
			}
		}
	}
}