[search-results] {
	display:block;
	width:100%;
	.result {
		&__wrapper {
			background-color: $white;
			width: 100%;
		    max-width: 45rem;
		    display: block;
		    margin: 2rem auto;
		    padding: 2rem;
		    position: relative;
		    animation: fadeInSoftDown 0.5s ease-in-out forwards;
		}
		&__close {
			position: absolute;
		    right: 5%;
		    top: 10%;
		    width: 2rem;
		    height: 2rem;
		    display: inline-block;
		    background: url("/assets/img/clear.svg");
		    background-repeat: no-repeat;
		    background-size: auto;
		    &:hover {
		    	cursor: pointer;
		    }
		}
		&__block {

		}
		&__item {
			font-family: 'JohnstonITCMedium', sans-serif;
			margin: 0;
		}
		&__title {
			font-size: 1.5rem;
			color: $black;
		}
		&__description {
			margin-top: 1rem;
			font-size: 1.2rem;
		}
		&__helper {
			color: $tfl-blue;
			margin-top: 4rem;
	    	display: block;
	    	> a {
	    		&:visited {
	    			color: $tfl-blue;
	    		}
	    	}
		}
	}
}